fastapi
uvicorn
torch
torchvision
pillow
python-multipart
openai>=1.86.0
requests
langchain
langchain-openai
langchain-huggingface
langchain-postgres
psycopg2-binary
sentence-transformers
tqdm
pgvector